/* .input-control-col input[data-control="autocomplete"]+i {
  position: absolute;
  right: 8px;
  bottom: 50%;
  transform: translateY(150%);
}

input[data-control="autocomplete"]+i {
  position: absolute;
  right: 8px;
  bottom: 50%;
  transform: translateY(50%);
} */

i.ic-dropdown {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.input-control-col i.ic-dropdown {
  top: 45px;
}