.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 9999;
}

.dialog {
  background-color: #fff;
  padding: 0px 24px 0px 24px;
  min-width: 850px;
  min-height: calc(100% - 100px);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.dialog .dialog-header {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog .dialog-header .text-header {
  font-size: 24px;
  font-weight: 600;
}

.dialog .dialog-header .dialog-close {
  font-size: 24px;
  color: #b5b5b5;
  cursor: pointer;
}

.dialog .dialog-body {
  flex: 1;
  margin: 12px 0px;
}

.dialog .dialog-footer {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: flex-end;
}

.dialog .dialog-footer .m-btn  {
  margin-left: 8px;
}

.dialog-row {
  display: flex;
}

.dialog .input-control .text-input {
  width: 100%;
}

.dialog .input-control.input-control-col:not(:first-child) {
  padding-left: 15px;
}