.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 9999;
}

.dialog {
  background-color: #fff;
  overflow: hidden;
  min-width: 850px;
  min-height: 60%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.dialog .dialog-header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog .dialog-header .text-header {
  font-size: 24px;
  font-weight: 600;
}

.dialog .dialog-header .dialog-close {
  font-size: 24px;
  color: #b5b5b5;
  cursor: pointer;
}

.dialog .dialog-header .dialog-close:hover {
  color: #000000;
}

.dialog .dialog-body {
  padding: 12px 24px;
  overflow: auto;
  flex: 1;
}

.dialog .dialog-footer {
  background-color: #d9d9d9;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dialog .dialog-footer .m-btn:not(:first-child)  {
  margin-left: 16px;
}

.dialog-row {
  display: flex;
}

.dialog .input-control .text-input {
  width: 100%;
}

.dialog .input-control.input-control-col:not(:first-child) {
  padding-left: 15px;
}