.input-control {
  display: flex;
  align-items: center;
  position: relative;
}

.input-control label {
  margin-right: 5px;
  min-width: 100px;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: unset;
}

.input-control .text-input {
  width: 220px;
  border-radius: 2px;
}

.input-control.input-control-col {
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.input-control.input-control-col label {
  text-align: left;
  margin-bottom: 4px;
}

.input-control label.error {
  color: red;
  font-size: 14px;
  font-weight: normal;
}

.input-control .text-input.error {
  border-color: red;
  color: red;
}

.input-control .text-input.error::placeholder {
  opacity: 0;
}

.required {
  color: red !important;
}