input:focus {
  box-shadow: none !important;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-menu {
  z-index: 9999 !important;
}

.ui-dialog .ui-dialog-titlebar {
  border: none;
  background-color: #fff;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
  border: none;
  background-color: #fff;
}

.page-list .btn-group {
  display: none !important;
}