.popup {
  background-color: #fff;
  min-width: 500px;
  max-width: 500px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;
}

.popup .popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 0 24px;
}

.popup .popup-header .text-header {
  font-size: 20px;
  font-weight: 600;
}

.popup .popup-header .popup-close {
  font-size: 20px;
  color: #b5b5b5;
  cursor: pointer;
}

.popup .popup-header .popup-close:hover {
  color: #000000;
}

.popup .popup-body {
  flex: 1;
  display: flex;
  font-size: 16px;
  padding: 24px;
  padding-bottom: 0;
}

.popup .popup-footer {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: flex-end;
  background-color: #e9e9e9;
  padding: 0 24px;
}

.popup .popup-footer .m-btn:not(:first-child)  {
  margin-left: 16px;
}

.popup-body-icon.icon-warning {
  height: 40px;
  width: 40px;
  background-image: url(../assets/icon/warning.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px;
}

.popup.danger .popup-body-icon {
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  background-image: url(../assets/icon/alarm.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px;
}

.popup.warning .popup-body-icon {
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  background-image: url(../assets/icon/warning.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px;
}

.popup-body-content {
  margin-bottom: 24px;
}