.body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}
.wrapper {
  height: 100vh;
}
.content-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 57px);
}

.main-footer {
  margin-left: 0 !important;
}

/*  */
.content-wrapper .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content > .container-fluid {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.my-row-container {
  position: relative;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.card .card-header .nav-tabs .nav-item {
  font-size: 1.2rem;
}

.my-card > .card-header {
  position: sticky;
  top: 0;
  z-index: 100;
}

/* this page */
.switch-control-label {
  font-weight: 400 !important;
  color: #007bff;
  cursor: pointer;
}